---
import css from "./Header.module.css";
import Link from "@components/links/Link/Link.astro";
import { ROUTER } from "@router/router";
---

<header class={css.header}>
  <nav>
    <Link href={ROUTER.home.href}>{ROUTER.home.display}</Link>
    <Link href={ROUTER.contact.href}>{ROUTER.contact.display}</Link>
  </nav>
</header>
